/* Box All space  */

*{
  box-sizing: border-box;
}

/*  hef decoration  */

a{
  text-decoration: none;
}

/*  List geral*/

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* H Margin*/

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

/* Button Style*/
button{
  border: none;
}


/*  Hover   */

a:hover,button:hover{
  cursor: pointer;
}
